body {
	background-color: #f3f3f3;
}

div.productList {
	background-color: #fff;
	border-color: #fafafa;
	border-style: solid;
	margin: 0px 50px 15px 50px;
	padding: 0px, 50px, 15px, 0px;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: .4rem;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
	border: 1px solid #e4e4e4;
}

/* 購物進度列 */
.progressbar {
	width: 100%;
	height: 80px;
	counter-reset: step;
	margin-top: 2rem;
	padding-left: 4rem;
}

.progressbar li {
	list-style-type: none;
	float: left;
	width: 30.33%;
	position: relative;
	text-align: center;
}

.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #e6e6e6;
	display: block;
	border-radius: 50%;
	text-align: center;
	margin: 0 auto 0 auto;
	color: white;
}

.progressbar li.active span {
	color: #000;
}

.progressbar li.active::before {
	border-color: #f9595f;
	background-color: #f9595f;
}

li.check {
	color: #ccc;
}

li.finish {
	color: #ccc;
}

div.deliveryForm {
width:30%;
height:350px;
	background-color: #fff;
	border-color: #fafafa;
	border-style: solid;
	margin: 0px 50px 15px 10px;
	padding: 0px, 50px, 15px, 0px;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: .4rem;
	border: 1px solid #e4e4e4;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

div.orderForm {
	background-color: white;
	border-color: #f3f3f3;
	border-style: solid;
	margin: 5px 50px 5px 50px;
	padding: 0px, 50px, 15px, 0px;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

div.form-group {
	line-height: 22px;
	margin-bottom: 10px;
}

div.footer_btn {
	background-color: #fff;
	border-color: #fafafa;
	border-style: solid;
	margin: 0px 50px 15px 50px;
	padding: 0px, 50px, 15px, 0px;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: .4rem;
	border: 1px solid #e4e4e4;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}

.btn-success, .page-checkout .btn-success, .page-order-show .btn-success,
	.btn-color-primary, .confirmation .confirmation-block .confirmation-button
	{
	width:100%;
	background-color: #f9595f !important;
	border-color: #f9595f !important;
	border-radius: 10px;
	justify-content: center;
    margin-top: 35px;
}

hr.new3 {
	border: 1px solid #f9595f;
}

div.order_btn {
	margin: 15px 30px auto 200px;
}

a.btn-link {
	color: #f5a9aa;
}
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}
#pull-right {
    float: right !important;
}
hr.new2{
border: 1px solid #f3f3f3;
}
.derlivery{
    width:80%;
	background-color: #fff;
	border-color: #fafafa;
	border-style: solid;
	margin: 0px 50px 15px 50px;
	padding: 0px, 50px, 15px, 0px;
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	border-radius: .4rem;
	border: 1px solid #e4e4e4;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .1);
}
body {
	background:#fafafa !important;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
	color:black;
	font-size: 16px;
	overflow-y: scroll;
}

#expand {
	cursor: pointer;
}

#coolstuff {
	display: none;
}

#container {
	width: 100%;
	max-width: 920px;
	margin: auto;
	text-align: center;
}

h1.cart_title {
	text-align: center;
}

ul {
	text-align: left;
}

hr {
	border-color: white;
	border-bottom: 0;
}

table {
	width: 100%;
	margin: auto;
	text-align: center;
}

tr {
	padding: 0;
	margin: 0;
	border: 0;
}

td {
	no-border-top: 1px solid white;
	padding: 5px 2px;
}

.image {
	width: 150px;
	height:150px;
}

.image>img {
	width: 100%;
	height:120px;
	background: white;
	border-radius: 2px;
/* 	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4); */
	a-border: 1px solid black;
}

.amount {
	width: 50px;
}

.amount>input {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic,
		"AppleGothic", sans-serif;
	color: black;
	font-size: 16px;
	background: transparent;
	border: none;
	width: 100%;
	text-align: center;
	outline: none;
}

.remove {
	width: 30px;
}

.remove>div {
	border-radius: 10px;
	width: 16px;
	height: 16px;
	line-height: 16px;
	padding: 2px;
	transition: background .3s, border .3s, transform .3s;
	cursor: pointer;
	text-align: center;
	margin: auto;
	border: 1px solid white;
}

.remove.hey>div {
	background: red;
	border-color: red;
	transform: scale(1.3);
}

.remove:hover>div {
	background: red;
	border-color: red;
}

.big {
	font-size: 2em;
	font-weight: bold;
}

#continue_shopping {
	padding: 10px;
	font-size: 16px;
	color: white;
	display: inline-block;
	margin: 2px;
	border-radius: 3px;
	text-align: center;
	transition: background 0.2s;
	background: #0a8f6c;
	cursor: pointer;
}

#checkout {
	padding: 10px;
	font-size: 16px;
	color: white;
	display: inline-block;
	margin: 2px;
	border-radius: 3px;
	text-align: center;
	transition: background 0.2s;
	background: #0a8f6c;
	cursor: pointer;
}

#checkout>span {
	width: 0;
	display: inline-block;
	overflow: hidden;
	transition: width .3s;
	text-align: right;
}

#checkout:hover>span {
	width: 20px;
}

#footer {
	opacity: 0.6;
	border-top: 1px solid white;
	padding-top: 10px;
	text-align: center;
	margin-top: 15px;
}

#footer a {
	color: white;
}


/* 信用卡＆付款資訊 */

.ship-pay-area{
    width: 100%;
    /* background-color: #0a8f6c; */
    display: flex;
}
