img.small {
	width: 200px;
}
div.parent{
	border: 3px solid grey;
	border-radius: 30px;
	background-color: #a4c0f4;
	height: 54px;
}
div{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
p{
	margin: 10px;
}